{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/opticcs2.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Us</h1>
          <span class="subheading">This is what We do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          At Opticcx, we make stylish, high-quality eyeglasses affordable and accessible. Eyewear is more than just vision correction—it’s a reflection of your style and confidence. That’s why we offer a wide range of durable, modern designs to suit every lifestyle and budget.
        </p>
        <p>
          Why Choose Us?
          <ul>
            <li><label style="font-weight: bold;">Quality:</label> Precision-crafted frames and lenses.</li>
            <li><label style="font-weight: bold;">Affordable Prices:</label> Premium eyewear without the markup.</li>
            <li><label style="font-weight: bold;">Variety:</label> Timeless classics to the latest trends.</li>
            <li><label style="font-weight: bold;">Easy Shopping:</label> A seamless online experience and great customer service.</li>
          </ul>
        </p>
        <p>
          See the world clearly and stylishly with Opticcx!
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
